<section class="container">
  <section class="post">
    <h1>{{model.title}}</h1>
    <span class="author">By <a rel="author" {{bind-attr href=model.author_url}}>{{model.author}}</a></span>
    {{{model.body}}}

    <div class="panel post-controls">
      <div class="control">
        {{#link-to 'post' model.previousPost.permalink classNames='btn'}}Previous Post{{/link-to}}
      </div>
      <div class="control control-label">
        <a {{bind-attr href=model.comments_url}}>{{model.num_comments}} comments back on Reddit</a>
      </div>
      <div class="control">
        {{#link-to 'post' model.nextPost.permalink classNames='btn'}}Next Post{{/link-to}}
      </div>
    </div>
  </section>
</section>
