<section class="post">
  <h1>{{title}}</h1>
  <span class="author">By <a rel="author" {{bind-attr href=author_url}}>{{author}}</a></span>
  {{{body}}}
  <hr />
  {{#link-to 'post' nextPost.permalink}}Next Post{{/link-to}}
  {{#link-to 'post' previousPost.permalink}}Previous Post{{/link-to}}
  <a {{bind-attr href=comments_url}}>{{num_comments}} comments back on Reddit</a>
</section>