<section class="post">
  <h1>{{title}}</h1>
  <a rel="author" {{bind-attr href=author_url}}>{{author}}</a>
  {{{body}}}
  <hr />
  <a {{bind-attr href=comments_url}}>{{num_comments}} comments back on Reddit</a>
</section>